.bussiness-cards {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 0 3rem;
}

.card {
	background-color: var(--white);
	border-radius: 3px;
	box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.dark .card {
	background-color: #1f2529;
}

.card-image {
	height: 20rem;
	background-position: center;
	background-size: cover;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin-bottom: 1rem;
	text-align: right;
	position: relative;
}

.card-image::before {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.21);
	position: absolute;
	left: 0;
}

.card-image button {
	position: relative;
}

.card-image .heart-icon {
	width: 4rem;
	margin: 1rem 2rem 0 0;
}

.card-image .unlike-btn {
	display: none;
}

.card-image.liked .unlike-btn {
	display: inline-block;
}
.card-image.liked .like-btn {
	display: none;
}

.card-details {
	padding: 1rem 1rem 3rem;
}

.card-name {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.card-rating-price {
	margin-bottom: 1rem;
	display: flex;
	gap: 1.2rem;
}

.card-category {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
}

.card-category a {
	color: black;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	background-color: rgb(232, 228, 228);
}

.dark .card-category p {
	background-color: var(--grey-blue);
}

.card-details button {
	text-align: center;
	width: 100%;
	padding: 1rem;
	font-size: 2rem;
	border-radius: 5px;
	background-color: var(--bright-blue);
	color: var(--white);
	box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.dark .card-details button {
	background-color: var(--dark-blue);
}

.pagination-btns {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.arrow {
	width: 2rem;
}

.active-btn {
	color: #6d67e4;
}
