.form-page {
	height: 100vh;
	overflow-y: hidden;
}

.form-content {
	position: relative;
	top: 50%;
	transform: translate(0, -60%);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	margin: 0 2rem;
	padding: 2rem 1rem;
	background-color: var(--white);
	border-radius: 3px;
}

.dark .form-content {
	background-color: var(--very-dark-blue-db);
}

.form-content h1 {
	margin-bottom: 2rem;
	text-align: center;
	color: var(--dark-red-brown);
}

.dark .form-content h1 {
	color: var(--white);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.form div {
	display: flex;
	flex-direction: column;
}

.form div label {
	margin-bottom: 1.5rem;
	color: #800011;
}

.dark .form div label {
	color: var(--white);
}

.input-container {
	position: relative;
}

.input-container input {
	padding: 1rem;
	border: 1px solid rgb(200, 200, 200);
	padding-left: 4rem;
	font-size: 1.6rem;
	border-radius: 5px;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--dark-blue) inset !important;
	-webkit-text-fill-color: var(--white);
}

.dark input,
.dark input:focus {
	color: var(--white);
	background-color: var(--dark-blue);
}

.input-container img {
	width: 2rem;
	position: absolute;
	top: 50%;
	transform: translate(1rem, -50%);
}

.input-container .eye-icon {
	right: 0;
	transform: translate(-1rem, -50%);
}

.form-btn {
	background-color: var(--bright-blue);
	color: var(--white);
	padding: 1rem 0;
	font-weight: bold;
	font-size: 2rem;
	border-radius: 5px;
	margin-bottom: 2rem;
}

.link {
	display: inline-block;
	width: 100%;
	text-align: center;
	color: var(--dark-red-brown);
}

.dark .link {
	color: var(--white);
}

.link span {
	color: var(--red-brown);
	font-weight: bold;
}

.dark .link span {
	color: var(--bright-blue);
}

.success-message {
	text-align: center;
	color: green;
	font-weight: bold;
}

.err-message {
	text-align: center;
	color: red;
	font-weight: bold;
}
