nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-purple);
	padding: 1rem;
}

.dark nav {
	background-color: var(--very-dark-blue-lb);
}

nav.dark,
nav.dark ul {
	background-color: var(--very-dark-blue-db);
}

nav li,
nav button {
	font-size: 2rem;
}

nav img {
	height: 4rem;
}

nav .btns {
	display: flex;
	gap: 2rem;
}

.site-logo img {
	height: 2.5rem;
}

.nav-items {
	position: relative;
}

.close-icons {
	position: absolute;
	top: 0;
	z-index: 3;
}

.close-icons img {
	width: 0px;
	transition: width 0.5s ease-in;
}

nav.active .close-icons img {
	width: 100%;
}

nav ul {
	position: absolute;
	display: flex;
	gap: 2rem;
	flex-direction: column;
	background-color: var(--light-purple);
	top: 0;
	right: 0;
	height: 100%;
	width: 0px;
	transition: width 0.5s ease-in;
	padding: 8rem 0;
	overflow-x: hidden;
	z-index: 2;
}

nav.active ul {
	width: 20rem;
}

.theme-btn img {
	width: 3rem;
}
