:root {
	--light-purple: #9277ff;
	--dark-blue: hsl(209, 23%, 22%);
	--very-dark-blue-db: hsl(207, 26%, 17%);
	--very-dark-blue-lb: hsl(200, 15%, 8%);
	--dark-grey: hsl(0, 0%, 52%);
	--very-light-grey: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	width: 100vw;
}

body {
	font-family: sans-serif;
	background-color: var(--very-light-grey);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
}

img {
	width: 100%;
}

.dark {
	background-color: black;
}

.page {
	padding: 0 1rem;
}
