:root {
	--light-purple: #9daff2;
	--very-light-purple: #becaf7;
	--dark-blue: #2b3945;
	--grey-blue: #404d58;
	--very-dark-blue-db: #202c37;
	--very-dark-blue-lb: #111517;
	--dark-grey: #858585;
	--very-light-grey: #fafafa;
	--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	width: 100vw;
}

body {
	font-family: sans-serif;
	background-color: var(--very-light-grey);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
}

img {
	width: 100%;
}

.dark {
	background-color: var(--very-dark-blue-lb);
}

.page {
	min-height: 100vh;
}
