@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
	--light-purple: #291c1c;
	--very-light-purple: #dddbdb;
	--bright-blue: #ff1a38;
	--dark-blue: #2b3945;
	--grey-blue: #404d58;
	--very-dark-blue-db: #202c37;
	--very-dark-blue-lb: #111517;
	--dark-grey: #858585;
	--very-light-grey: #fafafa;
	--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	width: 100vw;
}

body {
	font-family: sans-serif;
	background-color: var(--very-light-grey);
	font-size: 1.6rem;
	font-family: "Lato", sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
}

img {
	width: 100%;
}

.dark {
	background-color: var(--very-dark-blue-lb);
	color: #fff;
}

.page {
	min-height: 100vh;
	padding-bottom: 2rem;
}
